<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY ONLINE DUKA</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-image: url(pl.jfif); background-color:rgb(44, 167, 167); background-size: cover;">
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">MY ONLINE DUKA</h1>
    <h2 >The best there is</h2>
    <nav class="navbar">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="products.html">PRODUCTS</a></li>
            
            <li><a href="register.html">REGISTER
               
            </a></li>
            
            <li><a href="contactus.html ">CONTACT US</a></li>


        </ul>
        
    </nav>
    
        <h3>Home page</h3>
    <main>    
        <p class="line" style="color: blue;">Welcome to My online duka</p>
    </main>
    <section class="container" >
        <div class="sliderwrapper">
            <div class="slider">
                <img id="slide1" src="IMG-20241113-WA0015.jpg" alt="">
                <img id="slide2" src="IMG-20241113-WA0007.jpg" alt="">
                <img id="slide3" src="IMG-20241113-WA0008.jpg" alt="">


            </div>
            <div class="slidernav">
                <a href="#slide1"></a>
                <a href="#slide2"></a>
                <a href="#slide3"></a>



            </div>


        </div>

    </section>
    <button style="background-color: rgb(21, 19, 19); position: center;"><a href="login.html" style="color: bisque;">Login to Get Started</a></button>

    <div class="first_img">
        <img src="/static/images/rb_40432.png" alt="" width="600" height="600">
    </div>
    <div class="second_img">
        <img src="/static/images/rb_395.png" alt="" width="700" height="700">
    </div>
    <footer>
        <p>Developed  by mark</p>
    </footer>
    
    </div>
    

</body>
</html>