<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
</head>
<body style="background-color: aquamarine;">
    

    
    <div class="content" style="font-weight: bolder;">
  <label for="LOGIN">Login page</label><br><br><br>
  <input type="text">User name <br><br>
  <input type="password">Password <br><br>
  <button type="submit">submit</button>

    
    

   
    </div>
    <footer>
        <p>Developed  by mark</p>
    </footer>
    
    </div>

</body>

</html>